<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MLA Citation Gen.</title>
  <link rel="stylesheet" type="text/css" href="master.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  
  <div class="promo">Promo</div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  
  <div class="promo">Promo</div>
  
  <script src="scripts.js"></script>
  
</body>
</html>