* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Raleway', sans-serif; }

.default {}

.header { color: #333; padding: 25px; }

.promo { color: #FFF; background-color: #8EC5FC; background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); font-size: 24px; text-align: center; padding: 25px; }

.footer { color: #FFF; background-color: #333; padding: 25px; }